<html>
    <head>
        <title>Stock's Shower</title>
        
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    </head>

    <body background="bat.jpg">
    
            <div class="ui container">
            <style>
                .center {
                  text-align: center;
                  color: white;
                  font-size:300%;
                  
                }
            </style>
        <h1 class="center">Stocks Shower</h1>
        <style>
              body {
                background-image: url('https://reeefudgethenormiesreee.neocities.org/hehexd.png');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
               
          }
        </style>
       
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>
